xsd/opra_framework/opra_frames/opra_rawDataFrame_version.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2025 rel. 2 (x64) (https://www.altova.com) by Gergely Nitsch (One Planet Engineering Ltd.) -->
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opra.org/opra" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_OpRa_version">
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../../opra_imports/opra_netex_imports.xsd"/>
	<!-- OpRa includes-->
	<xsd:include schemaLocation="../opra_genericFramework/opra_generalLogEntry_version.xsd"/>
	<xsd:include schemaLocation="../../opra_rawdata/opra_onboardDeviceBasedPassengerCount_version.xsd"/>
	<xsd:include schemaLocation="../../opra_rawdata/opra_ticketingBasedPassengerCount_version.xsd"/>
	<xsd:include schemaLocation="../../opra_rawdata/opra_cancelledDatedVehicleJourney_version.xsd"/>
	<xsd:include schemaLocation="../../opra_rawdata/opra_lateDatedVehicleJourney_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_DatedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa FRAME types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RawDataFrameIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="netex:VersionFrameIdType"/>
	</xsd:simpleType>
	<xsd:element name="RawDataFrameRef" type="RawDataFrameRefStructure" abstract="false" substitutionGroup="netex:VersionFrameRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RawDataFrameRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="netex:VersionFrameRefStructure">
				<xsd:attribute name="ref" type="RawDataFrameIdType" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RawDataFrame" abstract="false" substitutionGroup="netex:CommonFrame">
		<xsd:annotation>
			<xsd:documentation>A coherent set of OpRa data to which the same frame VALIDITY CONDITIONs have been assigned.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RawDataVersionFrameStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:VersionFrameGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="preparedness"/>
							<xsd:group ref="RawDataFrameGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RawDataFrameIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RawDataVersionFrameStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a OpRa VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="netex:Common_VersionFrameStructure">
				<xsd:sequence>
					<xsd:element name="preparedness"/>
					<xsd:group ref="RawDataFrameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RawDataFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a OpRa RAW DATA FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="RawDataInFrameGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="RawDataInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>OpRa related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="generalLogEntries" type="GeneralLogEntries_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>General LOG ENTRies in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cancelledDatedVehicleJourneys" type="CancelledDatedVehicleJourneys_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DATED JOURNEY informations in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lateDatedVehicleJourneyCounts" type="LateDatedVehicleJourneyCounts_RelStructure" minOccurs="0"/>
			<xsd:element name="validationEntries" type="ValidationEntries_RelStructure" minOccurs="0"/>
			<xsd:element name="ticketingBasedPassengerCounts" type="TicketingBasedPassengerCounts_RelStructure" minOccurs="0"/>
			<xsd:element name="onboardDeviceBasedPassengerCounts" type="OnboardDeviceBasedPassengerCounts_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>