xsd/opra_framework/opra_frames/opra_kpiFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_opra_version" targetNamespace="http://www.opra.org/opra" version="1.0">
	<xsd:import schemaLocation="../../../NeTEx/xsd/gml/gml_extract_all_objects_v_3_2_1.xsd" namespace="http://www.opengis.net/gml/3.2"/>
	<xsd:import schemaLocation="../../../NeTEx/xsd/gml/geometryBasic0d1d-extract-v3_2_1.xsd" namespace="http://www.opengis.net/gml/3.2"/>
	<!--	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../../../NeTEx/xsd/netex_framework/netex_responsibility/netex_relationship_support.xsd"/>
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../../../NeTEx/xsd/netex_framework/netex_utility/netex_utility_xml.xsd"/>-->
	<xsd:import schemaLocation="../../../NeTEx/xsd/netex_framework/netex_frames/netex_commonFrame_version.xsd" namespace="http://www.netex.org.uk/netex"/>
	<!-- OpRa includes-->
	<xsd:include schemaLocation="../opra_genericFramework/opra_GeneralKpi_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_DatedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa FRAME types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="KpiFrameIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="netex:VersionFrameIdType"/>
	</xsd:simpleType>
	<xsd:element name="KpiFrameRef" type="KpiFrameRefStructure" substitutionGroup="netex:VersionFrameRef" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Reference to an OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType abstract="false" name="KpiFrameRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="netex:VersionFrameRefStructure">
				<xsd:attribute name="ref" type="KpiFrameIdType" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="KpiFrame" substitutionGroup="netex:CommonFrame" abstract="false">
		<xsd:annotation>
			<xsd:documentation>A coherent set of OpRa data to which the same frame VALIDITY CONDITIONs have been assigned.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="opra_Kpi_VersionFrameStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group minOccurs="0" ref="netex:EntityInVersionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:VersionFrameGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="KpiContextGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="KpiFrameGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="KpiFrameIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType abstract="false" name="opra_Kpi_VersionFrameStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="netex:Common_VersionFrameStructure">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:group ref="KpiContextGroup"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:group ref="KpiFrameGroup"/>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="KpiContextGroup">
		<xsd:annotation>
			<xsd:documentation>Contextual information for the KPIs within the KPI frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ContextIdentifier" type="xsd:normalizedString">
				<xsd:annotation>
					<xsd:documentation>An identifier that is recognizable by producer and consumer systems (eg. set by an agreement)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContextVersion" type="netex:VersionIdType">
				<xsd:annotation>
					<xsd:documentation>A version identifier within the domain of the context identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keyList" type="netex:KeyListStructure">
				<xsd:annotation>
					<xsd:documentation>A key/value list recognizable within the context domain. Might contain aggregation details.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="KpiFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a OpRa FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="KpiInFrameGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="KpiInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>OpRa related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="kpis" type="Kpis_RelStructure"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
