xsd/opra_framework/opra_frames/opra_plannedServiceFrame_version.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:opra="http://www.opra.org/opra" attributeFormDefault="unqualified" elementFormDefault="qualified" id="opra_plannedServiceFrame" targetNamespace="http://www.opra.org/opra" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="../../opra_imports/opra_netex_imports.xsd" namespace="http://www.netex.org.uk/netex" />
    <!-- OpRa includes-->
    <!-- ======================================================================= -->
    <xsd:annotation>
        <xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_framework/opra_frames/opra_plannedServiceFrame_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Planned Service Frame</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
        <xsd:documentation>OpRa PLANNED SERVICE FRAME.</xsd:documentation>
    </xsd:annotation>
    <!-- ======================================================================= -->
    <xsd:simpleType name="PlannedServiceFrameIdType">
        <xsd:annotation>
            <xsd:documentation>Type for identifier of a OpRa FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="netex:VersionFrameIdType" />
    </xsd:simpleType>
    <xsd:element name="PlannedServiceFrameRef" type="PlannedServiceFrameRefStructure" substitutionGroup="netex:VersionFrameRef" abstract="false">
        <xsd:annotation>
            <xsd:documentation>Reference to an OpRa FRAME.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType abstract="false" name="PlannedServiceFrameRefStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a reference to a OpRa FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="netex:VersionFrameRefStructure">
                <xsd:attribute name="ref" type="PlannedServiceFrameIdType" use="required" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <!-- ======================================================================= -->
    <xsd:element name="PlannedServiceFrame" substitutionGroup="netex:CommonFrame" abstract="false">
        <xsd:annotation>
            <xsd:documentation>A coherent set of OpRa data to which the same frame VALIDITY CONDITIONs have been assigned.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="OpRa_PlannedService_VersionFrameStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:VersionFrameGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="PlannedServiceFrameGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="PlannedServiceFrameIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType abstract="false" name="OpRa_PlannedService_VersionFrameStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a OpRa FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="netex:Common_VersionFrameStructure">
                <xsd:sequence>
                    <xsd:group ref="PlannedServiceFrameGroup" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="PlannedServiceFrameGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for an OpRa PLANNED SERVICE FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="NetexUrl" type="xsd:anyURI" minOccurs="0" />
            <xsd:group ref="PlannedServiceInFrameGroup" />
        </xsd:sequence>
    </xsd:group>
    <!-- ======================================================================= -->
    <xsd:group name="PlannedServiceInFrameGroup">
        <xsd:annotation>
            <xsd:documentation>OpRa related elements in frame.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="NetexPayload" type="netex:dataObjects_RelStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>General LOG ENTRies in frame.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <!-- ======================================================================= -->
</xsd:schema>