xsd/opra_framework/opra_frames/opra_rawDataFrame_version.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:opra="http://www.opra.org/opra" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_OpRa_version" targetNamespace="http://www.opra.org/opra" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--	<xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../NeTEx/xsd/gml/gml_extract_all_objects_v_3_2_1.xsd"/>
	<xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../NeTEx/xsd/gml/geometryBasic0d1d-extract-v3_2_1.xsd"/>-->
    <!--	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../../../NeTEx/xsd/netex_framework/netex_responsibility/netex_relationship_support.xsd"/>
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../../../NeTEx/xsd/netex_framework/netex_utility/netex_utility_xml.xsd"/>-->
    <xsd:import schemaLocation="../../../NeTEx/xsd/netex_framework/netex_frames/netex_commonFrame_version.xsd" namespace="http://www.netex.org.uk/netex" />
    <!-- OpRa includes-->
    <xsd:include schemaLocation="../opra_genericFramework/OpRa_GeneralLogEntry_version.xsd" />
    <xsd:include schemaLocation="../../opra_rawdata/opra_ticketingBasedPassengerCount_version.xsd" />
    <xsd:include schemaLocation="../../opra_rawdata/OpRa_CancelledDatedVehicleJourney_version.xsd" />
    <xsd:include schemaLocation="../../opra_rawdata/OpRa_LateDatedVehicleJourney_version.xsd" />
    <!-- ======================================================================= -->
    <xsd:annotation>
        <xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/OpRa_DatedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
        <xsd:documentation>OpRa FRAME types.</xsd:documentation>
    </xsd:annotation>
    <!-- ======================================================================= -->
    <xsd:simpleType name="RawDataFrameIdType">
        <xsd:annotation>
            <xsd:documentation>Type for identifier of a OpRa FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="netex:VersionFrameIdType" />
    </xsd:simpleType>
    <xsd:element name="RawDataFrameRef" type="RawDataFrameRefStructure" substitutionGroup="netex:VersionFrameRef" abstract="false">
        <xsd:annotation>
            <xsd:documentation>Reference to an OpRa FRAME.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType abstract="false" name="RawDataFrameRefStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a reference to a OpRa FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="netex:VersionFrameRefStructure">
                <xsd:attribute name="ref" type="RawDataFrameIdType" use="required" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <!-- ======================================================================= -->
    <xsd:element name="RawDataFrame" substitutionGroup="netex:CommonFrame" abstract="false">
        <xsd:annotation>
            <xsd:documentation>A coherent set of OpRa data to which the same frame VALIDITY CONDITIONs have been assigned.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="RawDataVersionFrameStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:VersionFrameGroup" />
                       </xsd:sequence>
                        <xsd:sequence>
                            <xsd:element name="preparedness" />                  
                            <xsd:group ref="RawDataFrameGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="RawDataFrameIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType abstract="false" name="RawDataVersionFrameStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a OpRa VERSION FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="netex:Common_VersionFrameStructure">
                <xsd:sequence>
                        <xsd:element name="preparedness" />
                        <xsd:group ref="RawDataFrameGroup" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="RawDataFrameGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for a OpRa RAW DATA FRAME.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="RawDataInFrameGroup" />
        </xsd:sequence>
    </xsd:group>
    <!-- ======================================================================= -->
    <xsd:group name="RawDataInFrameGroup">
        <xsd:annotation>
            <xsd:documentation>OpRa related elements in frame.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="generalLogEntries" type="GeneralLogEntries_RelStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>General LOG ENTRies in frame.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cancelledDatedVehicleJourneys" type="CancelledDatedVehicleJourneys_RelStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>DATED JOURNEY informations in frame.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lateDatedVehicleJourneys" type="LateDatedVehicleJourneys_RelStructure" minOccurs="0" />
            <xsd:element name="validationEntries" type="ValidationEntries_RelStructure" minOccurs="0" />
            <xsd:element name="ticketingBasedPassengerCounts" type="TicketingBasedPassengerCounts_RelStructure" minOccurs="0" />
        </xsd:sequence>
    </xsd:group>
    <!-- ======================================================================= -->
</xsd:schema>

