xsd/opra_rawdata/opra_onboardDeviceBasedPassengerCount_version.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2025 rel. 2 (x64) (https://www.altova.com) by Gergely Nitsch (One Planet Engineering Ltd.) -->
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opra.org/opra" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_OpRa_version">
	<!-- NeTEX Imports-->
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../opra_imports/opra_netex_imports.xsd"/>
	<!-- SIRI Imports-->
	<xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../opra_imports/opra_siri_imports.xsd"/>
	<!-- OpRa includes-->
	<xsd:include schemaLocation="../opra_framework/opra_genericFramework/opra_generalLogEntry_version.xsd"/>
	<xsd:include schemaLocation="../opra_framework/opra_reusableComponents/opra_vehicleOccupancy_version.xsd"/>
	<xsd:include schemaLocation="opra_measuredPassengerCount_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.opra.org/opra">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/OpRa_DatedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa OnboardDeviceBasedPassengerCount</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="OnboardDeviceBasedPassengerCountIdType">
		<xsd:restriction base="LoggableObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="OnboardDeviceBasedPassengerCountRefStructure">
		<xsd:simpleContent>
			<xsd:restriction base="LoggableObjectRefStructure">
				<xsd:attribute name="ref" use="required">
					<xsd:simpleType>
						<xsd:restriction base="OnboardDeviceBasedPassengerCountIdType"/>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:group name="OnboardDeviceScopeGroup">
		<xsd:sequence>
			<xsd:element name="VehicleRef" type="siri:VehicleRefStructure" minOccurs="0"/>
			<xsd:element name="PassengerSpaceRef" minOccurs="0"/>
			<xsd:element name="DeckEntranceRef" minOccurs="0"/>
			<xsd:element name="DeckEntranceSensorRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="OnboardDeviceBasedPassengerCount" substitutionGroup="LoggableObject_">
		<xsd:annotation>
			<xsd:documentation>Implementation of LOGGABLE OBJECT designed for recording ONBOARD DEVICE BASED PASSENGER COUNT information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OnboardDeviceBasedPassengerCount_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OnboardDeviceBasedPassengerCountGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OnboardDeviceBasedPassengerCountIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OnboardDeviceBasedPassengerCount_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a LOGGABLE OBJECT designed for recording ONBOARD DEVICE BASED PASSENGER COUNT information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LoggableObject_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OnboardDeviceBasedPassengerCountGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OnboardDeviceBasedPassengerCountGroup">
		<xsd:annotation>
			<xsd:documentation>Static (same in each state) elements for an OnboardDeviceBasedPassengerCount (as a LOGGABLE OBJECT)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PtScopeGroup"/>
			<xsd:group ref="OnboardDeviceScopeGroup"/>
			<xsd:group ref="EstimatedVehicleLoadEntryGroup"/>
			<xsd:element name="history" type="AggregatedOnboardDeviceBasedPassengerCounts_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="OnboardDeviceBasedPassengerCounts_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more OnboardDeviceBasedPassengerCount entities.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="OnboardDeviceBasedPassengerCount" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AggregatedOnboardDeviceBasedPassengerCount" type="AggregatedOnboardDeviceBasedPassengerCount_Structure"/>
	<xsd:complexType name="AggregatedOnboardDeviceBasedPassengerCount_Structure">
		<xsd:complexContent>
			<xsd:extension base="netex:LogEntry_VersionStructure">
				<xsd:group ref="AggregatedOnboardDeviceBasedPassengerCountGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AggregatedOnboardDeviceBasedPassengerCountGroup">
		<xsd:annotation>
			<xsd:documentation>Dynamic (may change in each state) elements for a CancelledDatedVehicleJourney (as a LOG ENTRY)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="EstimatedVehicleLoadEntryGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="AggregatedOnboardDeviceBasedPassengerCounts_RelStructure">
		<xsd:sequence>
			<xsd:element name="LogEntry" type="AggregatedOnboardDeviceBasedPassengerCount_Structure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>