xsd/opra_rawdata/opra_validationEntry_version.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2025 rel. 2 (x64) (https://www.altova.com) by Gergely Nitsch (One Planet Engineering Ltd.) -->
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opra.org/opra" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_OpRa_version">
	<!-- NeTEX Imports-->
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../opra_imports/opra_netex_imports.xsd"/>
	<!-- SIRI Imports-->
	<!-- OpRa includes-->
	<xsd:include schemaLocation="../opra_framework/opra_reusableComponents/opra_ptScope_support.xsd"/>
	<xsd:include schemaLocation="opra_measuredPassengerCount_version.xsd"/>
	<xsd:include schemaLocation="opra_ticketingBasedPassengerCount_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.opra.org/opra">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/OpRa_DatedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa TicketingBasedPassengerCount</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="ValidatonEntryIdType">
		<xsd:restriction base="netex:LogEntryIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="ValidationEntryRefStructure">
		<xsd:simpleContent>
			<xsd:restriction base="netex:LogEntryRefStructure">
				<xsd:attribute name="ref" type="ValidatonEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced VALIDATION ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ValidationEntryRefs_RelStructure">
		<xsd:sequence>
			<xsd:element name="ValidationEntryRef" type="ValidationEntryRefStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ValidationEntry" type="ValidationEntry_Structure"/>
	<xsd:complexType name="ValidationEntry_Structure">
		<xsd:complexContent>
			<xsd:extension base="netex:LogEntry_VersionStructure">
				<xsd:group ref="ValidationEntryGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ValidationEntryGroup">
		<xsd:annotation>
			<xsd:documentation>Dynamic (may change in each state) elements for a CancelledDatedVehicleJourney (as a LOG ENTRY)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PtScopeGroup"/>
			<xsd:group ref="TicketingScopeGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ValidationEntries_RelStructure">
		<xsd:sequence>
			<xsd:element name="ValidationEntry" type="ValidationEntry_Structure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>