xsd/opra_rawdata/opra_lateDatedVehicleJourney_version.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2025 rel. 2 (x64) (https://www.altova.com) by Gergely Nitsch (One Planet Engineering Ltd.) -->
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opra.org/opra" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_OpRa_version">
	<!-- NeTEX Imports-->
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../opra_imports/opra_netex_imports.xsd"/>
	<!-- SIRI Imports-->
	<xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../opra_imports/opra_siri_imports.xsd"/>
	<!-- OpRa includes-->
	<xsd:include schemaLocation="../opra_framework/opra_genericFramework/opra_generalLogEntry_version.xsd"/>
	<xsd:include schemaLocation="OpRa_DatedJourneyInformationRecording_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.opra.org/opra">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_lateDatedVehicleJourney_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa LateDatedVehicleJourney</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="LateDatedVehicleJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier type for LATE DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LoggableObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="LateDatedVehicleJourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a LATE DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LoggableObjectRefStructure">
				<xsd:attribute name="ref" type="LateDatedVehicleJourneyIdType" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="LateDatedVehicleJourney">
		<xsd:annotation>
			<xsd:documentation>Implementation of LOGGABLE OBJECT designed for recording LATE DATED VEHICLE JOURNEY information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LateDatedVehicleJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LateDatedVehicleJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LateDatedVehicleJourneyIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LateDatedVehicleJourney_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LoggableObject_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LateDatedVehicleJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LateDatedVehicleJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a general LOG ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="siri:LineIdentityGroup"/>
			<xsd:element name="OperatorRef" type="siri:OperatorRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to the OPERATOR of the DATED VEHICLE JOURNEY to cancel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="FramedVehicleJourneyRef" type="siri:FramedVehicleJourneyRefStructure">
					<xsd:annotation>
						<xsd:documentation>Identifer of a VEHICLE JOURNEY within data Horizon of a service.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DatedVehicleJourneyRef" type="siri:DatedVehicleJourneyRefStructure">
					<xsd:annotation>
						<xsd:documentation>Reference to a dated VEHICLE JOURNEY. This will be 'framed' i.e. be with the data context of the ESTIMATED Timetable.
DEPRECATED from SIRI 2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="DatedVehicleJourneyIndirectRef" type="siri:DatedVehicleJourneyIndirectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additionally, identify the VEHICLE JOURNEY by origin and destination and the scheduled times at these stops.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recordings" type="LateDatedVehicleJourneyLogEntries_RelStructure" minOccurs="0"/>
			<xsd:group ref="siri:LineIdentityGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="LateDatedVehicleJourneys_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more LateDatedVehicleJourneys.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LateDatedVehicleJourney" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LateDatedVehicleJourneyLogEntry" type="LateDatedVehicleJourneyLogEntry_Structure"/>
	<xsd:complexType name="LateDatedVehicleJourneyLogEntry_Structure">
		<xsd:complexContent>
			<xsd:extension base="netex:LogEntry_VersionStructure">
				<xsd:group ref="LateDatedVehicleJourneyLogEntryGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LateDatedVehicleJourneyLogEntryGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for LOG ENTRY related to a DatedJourney.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SituationRef" type="siri:SituationSimpleRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a SITUATION providing further information about the LOG ENTRY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Delay" type="siri:DurationType"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="LateDatedVehicleJourneyLogEntries_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more CancelledDatedVehicleJourneys.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogEntry" type="LateDatedVehicleJourneyLogEntry_Structure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>