xsd/opra_rawdata/opra_lateDatedVehicleJourney_version.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="https://transmodel-cen.eu/opra/1.0" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="https://transmodel-cen.eu/opra/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_OpRa_version" targetNamespace="https://transmodel-cen.eu/opra/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- NeTEX Imports-->
    <xsd:import schemaLocation="../opra_imports/opra_netex_imports.xsd" namespace="http://www.netex.org.uk/netex" />
    <!-- SIRI Imports-->
    <xsd:import schemaLocation="../opra_imports/opra_siri_imports.xsd" namespace="http://www.siri.org.uk/siri" />
    <!-- OpRa includes-->
    <xsd:include schemaLocation="../opra_framework/opra_genericFramework/opra_GeneralLogEntry_version.xsd" />
    <xsd:include schemaLocation="../opra_framework/opra_reusableComponents/opra_ptScope_support.xsd" />
    <xsd:include schemaLocation="../opra_framework/opra_reusableComponents/opra_durationDistribution_support.xsd" />
    <xsd:include schemaLocation="../opra_framework/opra_reusableComponents/opra_statistics_support.xsd" />
    <xsd:annotation>
        <xsd:appinfo>
			<Metadata xmlns="https://transmodel-cen.eu/opra/1.0">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{https://transmodel-cen.eu/opra/1.0/xsd/opra_lateDatedVehicleJourney_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
        <xsd:documentation>OpRa LateDatedVehicleJourney</xsd:documentation>
    </xsd:annotation>
    <xsd:group name="DelayGroup">
        <xsd:sequence>
            <xsd:element name="DelayDuration" type="siri:DurationType">
                <xsd:annotation>
                    <xsd:documentation>The actual delay of the DATED VEHICLE JOURNEY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TriggeredBy" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional information about what triggered the DELAY.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OperationalEventRef" type="SimpleEventRefStructure" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Reference to an OPERATIONAL EVENT that caused the DELAY.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="DelayThresholdReachedEventRef" type="SimpleEventRefStructure" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Reference to a DELAY THRESHOLD REACHED EVENT that registered the DELAY.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="LateDatedVehicleJourneyScopeGroup">
        <xsd:sequence>
            <xsd:element ref="siri:SituationRef" minOccurs="0" />
            <xsd:element ref="netex:TypeOfDelayRef" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Classification of the DELAY (eg. within a regulatory context)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:simpleType name="LateDatedVehicleJourneyCountIdType">
        <xsd:annotation>
            <xsd:documentation>Identifier type for LATE DATED VEHICLE JOURNEY COUNT.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="LoggableObjectIdType" />
    </xsd:simpleType>
    <xsd:element name="LateDatedVehicleJourneyCountRef" type="LateDatedVehicleJourneyCountRefStructure" />
    <xsd:complexType name="LateDatedVehicleJourneyCountRefStructure">
        <xsd:annotation>
            <xsd:documentation>Reference to a LATE DATED VEHICLE JOURNEY COUNT.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="LoggableObjectRefStructure">
                <xsd:attribute name="ref" type="LateDatedVehicleJourneyCountIdType" use="required" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <!-- ======================================================================= -->
    <xsd:element name="LateDatedVehicleJourneyCount">
        <xsd:annotation>
            <xsd:documentation>Implementation of a LATE DATED VEHICLE JOURNEY COUNT.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="LateDatedVehicleJourneyCount_VersionStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="LateDatedVehicleJourneyCountGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="LateDatedVehicleJourneyCountIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="LateDatedVehicleJourneyCount_VersionStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a LOGGABLE OBJECT designed for recording LATE DATED VEHICLE JOURNEY information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="LoggableObject_VersionStructure">
                <xsd:sequence>
                    <xsd:group ref="LateDatedVehicleJourneyCountGroup" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="LateDatedVehicleJourneyCountGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for the LATE DATED VEHICLE JOURNEY COUNT defined by generic PT SCOPE context and additional specific context.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="PtScopeGroup" />
            <xsd:group ref="LateDatedVehicleJourneyScopeGroup" />
            <xsd:group ref="DurationDistributionGroup" />
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="LateDatedVehicleJourneyCounts_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A collection of one or more LateDatedVehicleJourneys.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LateDatedVehicleJourneyCount" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="LateDatedVehicleJourneyEntryIdType">
        <xsd:restriction base="netex:LogEntryIdType" />
    </xsd:simpleType>
    <xsd:element name="LateDatedVehicleJourneyEntryRef" type="LateDatedVehicleJourneyEntryRefStructure" />
    <xsd:complexType name="LateDatedVehicleJourneyEntryRefStructure">
        <xsd:annotation>
            <xsd:documentation>Reference type for a LATE DATED VEHICLE JOURNEY ENTRY.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="netex:LogEntryRefStructure">
                <xsd:attribute name="ref" type="LateDatedVehicleJourneyEntryIdType" use="required" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="LateDatedVehicleJourneyEntryRefs_RelStructure">
        <xsd:annotation>
            <xsd:documentation>Collection of references to LATE DATED VEHICLE JOURNEY ENTRIes.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="EntryRef" type="LateDatedVehicleJourneyEntryRefStructure" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A reference to a LATE DATED VEHICLE JOURNEY ENTRY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="LateDatedVehicleJourneyEntry">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="LateDatedVehicleJourneyEntry_Structure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:LogEntryGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="LateDatedVehicleJourneyEntryGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="LateDatedVehicleJourneyEntryIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="LateDatedVehicleJourneyEntry_Structure">
        <xsd:complexContent>
            <xsd:extension base="netex:LogEntry_VersionStructure">
                <xsd:group ref="LateDatedVehicleJourneyEntryGroup" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="LateDatedVehicleJourneyEntryGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for a LOG ENTRY related to a LateDatedVehicleJourneyEntry.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="PtScopeGroup" />
            <xsd:group ref="LateDatedVehicleJourneyScopeGroup" />
            <xsd:group ref="DelayGroup" />
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="LateDatedVehicleJourneyEntries_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A collection of one or more LateDatedVehicleJourneyEntry instances.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LateDatedVehicleJourneyEntry" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>