xsd/opra_rawdata/opra_DatedJourneyInformationRecording_version.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_OpRa_version" targetNamespace="http://www.opra.org/opra" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- NeTEX Imports-->
    <xsd:import schemaLocation="../opra_imports/opra_netex_imports.xsd" namespace="http://www.netex.org.uk/netex" />
    <xsd:import schemaLocation="../opra_imports/opra_siri_imports.xsd" namespace="http://www.siri.org.uk/siri" />
    <!-- SIRI Imports-->
    <!-- OpRa includes-->
    <xsd:include schemaLocation="../opra_framework/opra_genericFramework/opra_GeneralLogEntry_version.xsd" />
    <xsd:include schemaLocation="opra_datedJourneyInformationRecording_support.xsd" />
    <xsd:annotation>
        <xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_datedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
        <xsd:documentation>OpRa DatedJourneyInformationRecording</xsd:documentation>
    </xsd:annotation>
    <!-- ======================================================================= -->
    <xsd:element name="DatedJourneyInformationRecording" substitutionGroup="LoggableObject_">
        <xsd:annotation>
            <xsd:documentation>Implementation of LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="DatedJourneyInformationRecording_VersionStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="LoggableObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="DatedJourneyInformationRecordingGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="DatedJourneyInformationRecordingIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DatedJourneyInformationRecording_VersionStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="LoggableObject_VersionStructure">
                <xsd:sequence>
                    <xsd:group ref="DatedJourneyInformationRecordingGroup">
                        <xsd:annotation>
                            <xsd:documentation>Elements for a LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="DatedJourneyInformationRecordingGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for a general LOG ENTRY.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="siri:LineIdentityGroup" />
            <xsd:element name="OperatorRef" type="siri:OperatorRefStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Reference to the OPERATOR of the DATED VEHICLE JOURNEY to cancel</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="FramedVehicleJourneyRef" type="siri:FramedVehicleJourneyRefStructure">
                    <xsd:annotation>
                        <xsd:documentation>Identifer of a VEHICLE JOURNEY within data Horizon of a service.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DatedVehicleJourneyRef" type="siri:DatedVehicleJourneyRefStructure">
                    <xsd:annotation>
                        <xsd:documentation>Reference to a dated VEHICLE JOURNEY. This will be 'framed' i.e. be with the data context of the ESTIMATED Timetable.
DEPRECATED from SIRI 2.0</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="DatedVehicleJourneyIndirectRef" type="siri:DatedVehicleJourneyIndirectRefStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Additionally, identify the VEHICLE JOURNEY by origin and destination and the scheduled times at these stops.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="DatedJourneyInformationRecordings_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A collection of one or more DatedJourneyInformationRecordings</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DatedJourneyInformationRecording" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ======================================================================= -->
    <xsd:element name="DatedJourneyLogEntry" substitutionGroup="LogEntry_">
        <xsd:annotation>
            <xsd:documentation>A time-stamped record of an event or change of state of a DatedJourney.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="DatedJourneyLogEntry_VersionStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:LogEntryGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="LogEntryContextGroup" />
                            <xsd:group ref="DatedJourneyLogEntryGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="DatedJourneyLogEntryIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DatedJourneyLogEntry_VersionStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a LOG ENTRY related to a DatedJourney.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="netex:LogEntry_VersionStructure">
                <xsd:sequence>
                    <xsd:group ref="LogEntryContextGroup" />
                    <xsd:group ref="DatedJourneyLogEntryGroup">
                        <xsd:annotation>
                            <xsd:documentation>Elements for  a LOG ENTRY related to a DatedJourney.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="DatedJourneyLogEntryGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for LOG ENTRY related to a DatedJourney.</xsd:documentation>
        </xsd:annotation>
   		<!-- I DON'T KNOW WHY THE CONTENT OF THIS GROUP WAS LOST ... A GROUP CANNOT BE EMPTY SO I ADDED IT BACK-->
		<xsd:sequence>
			<xsd:element name="SituationRef" type="siri:SituationSimpleRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a SITUATION providing further information about the LOG ENTRY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="siri:ControlActionRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a CONTROL ACTION providing further information about the LOG ENTRY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReplacementJourneyCreated" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a repalcement journey was created is an addition to the planning data sent. Default is 'false': i.e. not an additional journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
    </xsd:group>
    <xsd:complexType name="DatedJourneyLogEntries_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A LOGENTRY  related to a DatedJourney.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DatedJourneyLogEntry" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A time-stamped record of an event or change of state.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ======================================================================= -->
</xsd:schema>