xsd/opra_rawdata/opra_ticketingBasedPassengerCount_version.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_opra_version" targetNamespace="http://www.opra.org/opra" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- NeTEX Imports-->
    <xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../opra_imports/opra_netex_imports.xsd" />
    <!-- SIRI Imports-->
    <xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../opra_imports/opra_siri_imports.xsd" />
    <!-- OpRa includes-->
    <xsd:include schemaLocation="../opra_framework/opra_genericFramework/opra_generalLogEntry_version.xsd" />
    <xsd:include schemaLocation="../opra_framework/opra_reusableComponents/opra_passengerTravelControl_support.xsd" />
    <xsd:include schemaLocation="opra_measuredPassengerCount_version.xsd" />
    <xsd:include schemaLocation="opra_validationEntry_version.xsd" />
    <xsd:annotation>
        <xsd:appinfo>
            <Metadata xmlns="http://www.opra.org/opra">
                <Aggregation>main schema</Aggregation>
                <Audience>e-service developers</Audience>
                <Coverage>Europe</Coverage>
                <Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
                <Date>
                    <Created>2024-11-29</Created>
                </Date>
                <Description>
                    <p>OpRa - Operational Raw Data</p>
                </Description>
                <Format>
                    <MediaType>text/xml</MediaType>
                    <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
                    <Description>XML schema, W3C Recommendation 2001</Description>
                </Format>
                <Identifier>{http://www.opra.org/schemas/xsd/opra_DatedJourneyInformationRecording_version.xsd</Identifier>
                <Language>[ISO 639-2/B] ENG</Language>
                <Rights>Unclassified
				</Rights>
                <Source>
                    <ul>
                        <li>Created for OpRa</li>
                    </ul>
                </Source>
                <Status>Initial Version</Status>
                <Subject>
                    <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
                    <Project>CEN TC278 WG3 SG10.</Project>
                </Subject>
                <Title>Opra Operation Raw Data Exchange</Title>
                <Type>Standard</Type>
            </Metadata>
        </xsd:appinfo>
        <xsd:documentation>OpRa TicketingBasedPassengerCount</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType name="TicketingBasedPassengerCountIdType">
        <xsd:restriction base="LoggableObjectIdType" />
    </xsd:simpleType>
    <xsd:complexType name="TicketingBasedPassengerCountRefStructure">
        <xsd:simpleContent>
            <xsd:restriction base="LoggableObjectRefStructure">
                <xsd:attribute name="ref" type="TicketingBasedPassengerCountIdType" use="required" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:group name="TicketingScopeGroup">
        <xsd:sequence>
            <xsd:element name="PassengerTravelEntryType" type="PassengerTravelEntryTypeEnumeration" minOccurs="0" />
            <xsd:element name="TicketValidatorEquipmentRef" type="netex:TicketValidatorEquipmentRefStructure" minOccurs="0" />
            <xsd:element name="FareProductRef" type="netex:FareProductRefStructure" minOccurs="0" />
        </xsd:sequence>
    </xsd:group>
    <!-- ======================================================================= -->
    <xsd:element name="TicketingBasedPassengerCount" substitutionGroup="LoggableObject_">
        <xsd:annotation>
            <xsd:documentation>Implementation of LOGGABLE OBJECT designed for recording TICKETING BASED PASSENGER COUNT information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="TicketingBasedPassengerCount_VersionStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="LoggableObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="TicketingBasedPassengerCountGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="TicketingBasedPassengerCountIdType" />
                    <!--SHOULD BE TicketingBasedPassengerCount-->
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="TicketingBasedPassengerCount_VersionStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="LoggableObject_VersionStructure">
                <xsd:sequence>
                    <xsd:group ref="TicketingBasedPassengerCountGroup" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="TicketingBasedPassengerCountGroup">
        <xsd:annotation>
            <xsd:documentation>Static (same in each state) elements for a CancelledDatedVehicleJourney (as a LOGGABLE OBJECT)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="PtScopeGroup" />
            <xsd:group ref="TicketingScopeGroup" />
            <xsd:group ref="VehicleLoadEntryGroup" />
            <xsd:element name="validationEntryRefs" type="ValidationEntryRefs_RelStructure" minOccurs="0" />
            <xsd:element name="history" type="AggregatedTicketingBasedPassengerCounts_RelStructure" minOccurs="0" />
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="TicketingBasedPassengerCounts_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A collection of one or more CancelledDatedVehicleJourneys.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="TicketingBasedPassengerCount" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>LOGGABLE OBJECT designed for recording DATED VEHICLE JOURNEY information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AggregatedTicketingBasedPassengerCount" type="AggregatedTicketingBasedPassengerCount_Structure" />
    <xsd:complexType name="AggregatedTicketingBasedPassengerCount_Structure">
        <xsd:complexContent>
            <xsd:extension base="netex:LogEntry_VersionStructure">
                <xsd:group ref="AggregatedTicketingBasedPassengerCountGroup" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="AggregatedTicketingBasedPassengerCountGroup">
        <xsd:annotation>
            <xsd:documentation>Dynamic (may change in each state) elements for a CancelledDatedVehicleJourney (as a LOG ENTRY)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="VehicleLoadEntryGroup" />
            <xsd:element name="validationEntryRefs" type="ValidationEntryRefs_RelStructure" minOccurs="0" />
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="AggregatedTicketingBasedPassengerCounts_RelStructure">
        <xsd:sequence>
            <xsd:element name="LogEntry" type="AggregatedTicketingBasedPassengerCount_Structure" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>