xsd/opra_framework/opra_reusableComponents/opra_deckPlan_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_OpRa_version" targetNamespace="http://www.opra.org/opra" version="1.0">
	<!-- NeTEX Imports-->
	<xsd:import schemaLocation="../../opra_imports/opra_netex_imports.xsd" namespace="http://www.netex.org.uk/netex"/>
	<!-- SIRI Imports-->
	<xsd:import schemaLocation="../../../SIRI/xsd/siri_model/siri_reference.xsd" namespace="http://www.siri.org.uk/siri"/>
	<xsd:import schemaLocation="../../../SIRI/xsd/siri_model/siri_journey_support.xsd" namespace="http://www.siri.org.uk/siri"/>
	<!-- OpRa includes-->
	<xsd:include schemaLocation="../../opra_framework/opra_genericFramework/opra_GeneralLogEntry_version.xsd"/>
	<xsd:include schemaLocation="../../opra_framework/opra_reusableComponents/opra_controlActionReference_support.xsd"/>
	<xsd:include schemaLocation="../../opra_framework/opra_reusableComponents/opra_eventReference_support.xsd"/>
	<xsd:include schemaLocation="../../opra_framework/opra_reusableComponents/opra_ptScope_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.opra.org/opra">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/OpRa_DatedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa Deck Plans</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="DeckPlanIdType">
		<xsd:restriction base="netex:ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="DeckPlanRefStructure">
		<xsd:simpleContent>
			<xsd:restriction base="netex:VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="DeckPlanIdType" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="DeckPlan">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckPlan_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:EntityInVersionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="DeckPlanGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckPlanIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckPlan_VersionStructure">
		<xsd:complexContent>
			<xsd:extension base="netex:DataManagedObjectStructure">
				<xsd:group ref="DeckPlanGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckPlanGroup">
		<xsd:sequence>
			<xsd:element name="decks" type="Decks_RelStructure"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="DeckPlans_RelStructure">
		<xsd:sequence>
			<xsd:element ref="DeckPlan" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DeckIdType">
		<xsd:restriction base="netex:ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="DeckRefStructure">
		<xsd:simpleContent>
			<xsd:restriction base="netex:VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="DeckIdType" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Deck">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Deck_VersionStructure">
					<xsd:sequence>
						<xsd:group ref="netex:EntityInVersionGroup"/>
						<xsd:group ref="netex:DataManagedObjectGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Deck_VersionStructure">
		<xsd:complexContent>
			<xsd:extension base="netex:DataManagedObjectStructure">
				<xsd:group ref="DeckGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckGroup">
		<xsd:sequence>
			<xsd:element name="deckSpaces" minOccurs="0"/>
			<xsd:element name="deckEntrances" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="Decks_RelStructure">
		<xsd:sequence>
			<xsd:element ref="Deck" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
