xsd/opra_framework/opra_reusableComponents/opra_durationDistribution_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opra.org/opra" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="opra_ptScope_support">
	<!-- NeTEX Imports-->
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../../opra_imports/opra_netex_imports.xsd"/>
	<!-- SIRI Imports-->
	<xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../../opra_imports/opra_siri_imports.xsd"/>
	<!-- OpRa Include-->
	<xsd:include schemaLocation="opra_statistics_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_GeneralLogEntry_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa: PT SCOPE related definitions.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="DurationInterval" type="DurationIntervalStructure"/>
	<xsd:complexType name="DurationIntervalStructure">
		<xsd:sequence>
			<xsd:group ref="DurationIntervalGroup"/>
			<xsd:group ref="OccurrenceStatisticsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="DurationIntervalGroup">
		<xsd:sequence>
			<xsd:element name="StartOfInterval" type="siri:DurationType" minOccurs="0"/>
			<xsd:element name="StartIncluded" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="EndOfInterval" type="siri:DurationType" minOccurs="0"/>
			<xsd:element name="EndIncluded" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="DurationIntervals_RelStructure">
		<xsd:sequence>
			<xsd:element ref="DurationInterval" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="DurationDistributionGroup">
		<xsd:sequence>
			<xsd:element name="intervals" type="DurationIntervals_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
