xsd/opra_framework/opra_reusableComponents/opra_vehicleOccupancy_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="https://transmodel-cen.eu/opra/1.0" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="https://transmodel-cen.eu/opra/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_OpRa_version" targetNamespace="https://transmodel-cen.eu/opra/1.0" version="1.0">
	<!-- NeTEX Imports-->
	<xsd:import schemaLocation="../../opra_imports/opra_netex_imports.xsd" namespace="http://www.netex.org.uk/netex"/>
	<!-- SIRI Imports-->
	<xsd:import schemaLocation="../../../SIRI/xsd/siri_model/siri_reference.xsd" namespace="http://www.siri.org.uk/siri"/>
	<xsd:import schemaLocation="../../../SIRI/xsd/siri_model/siri_journey_support.xsd" namespace="http://www.siri.org.uk/siri"/>
	<!-- OpRa includes-->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="https://transmodel-cen.eu/opra/1.0">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{https://transmodel-cen.eu/opra/1.0/xsd/OpRa_DatedJourneyInformationRecording_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa Vehicle Occupancy</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleLoadEntry" type="VehicleLoadEntry_Structure"/>
	<xsd:complexType name="VehicleLoadEntry_Structure">
		<xsd:complexContent>
			<xsd:extension base="netex:LogEntry_VersionStructure">
				<xsd:group ref="VehicleLoadEntryGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleLoadEntryGroup">
		<xsd:annotation>
			<xsd:documentation>Dynamic (may change in each state) elements for a MeasurePassengerCount. (as a LOG ENTRY)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="netex:TimebandRef" minOccurs="0"/>
			<xsd:element name="NumberOfAlighters" type="netex:NumberOfPassengers" minOccurs="0"/>
			<xsd:element name="NumberOfBoarders" type="netex:NumberOfPassengers" minOccurs="0"/>
			<xsd:element name="OnboardCount" type="netex:NumberOfPassengers" minOccurs="0"/>
			<xsd:element name="OnboardPercentage" type="netex:PercentageType" minOccurs="0"/>
			<xsd:element name="VehicleWeight" type="netex:WeightType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="VehicleLoadEntries_RelStructure">
		<xsd:sequence>
			<xsd:element name="LogEntry" type="VehicleLoadEntry_Structure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="EstimatedVehicleLoadEntryGroup">
		<xsd:sequence>
			<xsd:group ref="VehicleLoadEntryGroup"/>
			<xsd:element name="Maximums" minOccurs="0">
				<xsd:complexType>
					<xsd:group ref="VehicleLoadEntryGroup"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Minimums" minOccurs="0">
				<xsd:complexType>
					<xsd:group ref="VehicleLoadEntryGroup"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
