xsd/OpRa_GeneralLogEntry_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Christophe Duquesne (Aurige) -->
<xsd:schema xmlns="http://www.opra.org/opra" xmlns:opra="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.opra.org/opra" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_OpRa_version">
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../NeTEx/xsd/netex_framework/netex_responsibility/netex_relationship_support.xsd"/>
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../NeTEx/xsd/netex_framework/netex_utility/netex_utility_xml.xsd"/>
	<xsd:import namespace="http://www.netex.org.uk/netex" schemaLocation="../NeTEx/xsd/netex_framework/netex_genericFramework/netex_loggable_version.xsd"/>
	<xsd:include schemaLocation="OpRa_GeneralLogEntry_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/OpRa_GeneralLogEntry_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Inaitial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa generic concrete LOG ENTRY and LOGGABLE OBJECT</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="LoggableObject_" type="netex:DataManagedObjectStructure" abstract="true" substitutionGroup="netex:DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy Supertype for LOGGABLE OBJECT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LoggableObjects_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more LOGGABLE OBJECTs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LoggableObject" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An entity for which LOG ENTRies may be made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="LoggableObject">
		<xsd:annotation>
			<xsd:documentation>An entity for which LOG ENTRies may be made.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LoggableObject_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LoggableObjectGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LoggableObjectIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="LoggableObject_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a LOGGABLE OBJECT.</xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="netex:DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="LoggableObjectGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a generic conrete LOG ENTRY</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>		
	</xsd:complexType>
	
	<xsd:group name="LoggableObjectGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF TRACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of LOGGABLE OBJECT</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LogEntries" type="GeneralLogEntries_RelStructure"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="LogEntry_" type="netex:DataManagedObjectStructure" abstract="true" substitutionGroup="netex:DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy Supertype for LOG ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeneralLogEntry" substitutionGroup="LogEntry_">
		<xsd:annotation>
			<xsd:documentation>A time-stamped record of an event or change of state.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeneralLogEntry_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="netex:LogEntryGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeneralLogEntryGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeneralLogEntryIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeneralLogEntry_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a concrete generic LOG ENTRY</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="netex:LogEntry_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GeneralLogEntryGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a generic conrete LOG ENTRY</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeneralLogEntryGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a general LOG ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LoggedAtTime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Date at which the LOG ENTRY was captured</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LogEntryValues" type="LogEntryValues_RelStructure">
				<xsd:annotation>
					<xsd:documentation>Values picked up from the ENTITY as input for the LOGGABLE OBJECT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="GeneralLogEntries_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A generic LOGENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GeneralLogEntry" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A time-stamped record of an event or change of state.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogEntriesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GeneralLogEntries.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="netex:containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GeneralLogEntry" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="LogEntryValues_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more logged VALUEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LogEntryValue" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Record of the values to be captured by a LOG ENTRY</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LogEntryValue" type="LogEntryValueStructure">
		<xsd:annotation>
			<xsd:documentation>A time-stamped record of an event or change of state - new values/state.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LogEntryValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a logged VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="LogEntryValueGroup">
			<xsd:annotation>
				<xsd:documentation>Elements for a logged VALUE.</xsd:documentation>
			</xsd:annotation>
		</xsd:group>
		<xsd:attribute name="id" type="LogEntryValueIdType">
			<xsd:annotation>
				<xsd:documentation>Identifier of logged VALUE.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LogEntryUnitaryValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a logged unique VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ValueName" type="xsd:normalizedString">
				<xsd:annotation>
					<xsd:documentation>Name of VALUE captured by the LOG ENTRY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Value" type="xsd:anyType">
				<xsd:annotation>
					<xsd:documentation>VALUE captured by the LOG ENTRY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="LogEntryValueGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a logged VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="netex:VersionOfObjectRef"/>
			<xsd:element name="UnitaryValue" type="LogEntryUnitaryValueStructure" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>