xsd/opra_framework/opra_genericFramework/opra_GeneralLogEntry_version.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_opra_version" targetNamespace="http://www.opra.org/opra" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- NeTEX Imports-->
    <xsd:import schemaLocation="../../../NeTEx/xsd/netex_framework/netex_responsibility/netex_relationship_support.xsd" namespace="http://www.netex.org.uk/netex" />
    <xsd:import schemaLocation="../../../NeTEx/xsd/netex_framework/netex_utility/netex_utility_xml.xsd" namespace="http://www.netex.org.uk/netex" />
    <xsd:import schemaLocation="../../../NeTEx/xsd/netex_framework/netex_genericFramework/netex_loggable_version.xsd" namespace="http://www.netex.org.uk/netex" />
    <!-- SIRI Imports-->
    <xsd:import schemaLocation="../../../SIRI/xsd/siri_model/siri_situationClassifiers.xsd" namespace="http://www.siri.org.uk/siri" />
    <!-- OpRa Include-->
    <xsd:include schemaLocation="opra_GeneralLogEntry_support.xsd" />
    <xsd:include schemaLocation="../opra_reusableComponents/opra_controlActionReference_support.xsd" />
    <xsd:include schemaLocation="../opra_reusableComponents/opra_eventReference_support.xsd" />
    <xsd:annotation>
        <xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_GeneralLogEntry_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
        <xsd:documentation>OpRa generic concrete LOG ENTRY and LOGGABLE OBJECT</xsd:documentation>
    </xsd:annotation>
    <!-- ======================================================================= -->
    <xsd:element name="LoggableObject_" type="netex:DataManagedObjectStructure" substitutionGroup="netex:DataManagedObject" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Dummy Supertype for LOGGABLE OBJECT.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoggableObjects_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A collection of one or more LOGGABLE OBJECTs</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LoggableObject" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>An entity for which LOG ENTRies may be made.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="LoggableObject" substitutionGroup="LoggableObject_">
        <xsd:annotation>
            <xsd:documentation>An entity for which LOG ENTRies may be made.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="LoggableObject_VersionStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="LoggableObjectGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="LoggableObjectIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="LoggableObject_VersionStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a LOGGABLE OBJECT.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="netex:DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:group ref="LoggableObjectGroup">
                        <xsd:annotation>
                            <xsd:documentation>Elements for a generic conrete LOG ENTRY</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="LoggableObjectGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for a TYPE OF TRACE.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Description" type="xsd:normalizedString" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Description of LOGGABLE OBJECT</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="logEntries" type="GeneralLogEntries_RelStructure">
                <xsd:annotation>
                    <xsd:documentation>LOG ENTRIES attached to the LOGGABLE OBJECT</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <!-- ======================================================================= -->
    <xsd:element name="LogEntry_" type="netex:DataManagedObjectStructure" substitutionGroup="netex:DataManagedObject" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Dummy Supertype for LOG ENTRY.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GeneralLogEntry" substitutionGroup="LogEntry_">
        <xsd:annotation>
            <xsd:documentation>A time-stamped record of an event or change of state.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="GeneralLogEntry_VersionStructure">
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:group minOccurs="0" ref="netex:EntityInVersionGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:DataManagedObjectGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="netex:LogEntryGroup" />
                        </xsd:sequence>
                        <xsd:sequence>
                            <xsd:group ref="LogEntryContextGroup" />
                            <xsd:group ref="GeneralLogEntryGroup" />
                        </xsd:sequence>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="GeneralLogEntryIdType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="GeneralLogEntry_VersionStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a concrete generic LOG ENTRY</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="netex:LogEntry_VersionStructure">
                <xsd:sequence>
                    <xsd:group ref="LogEntryContextGroup" />
                    <xsd:group ref="GeneralLogEntryGroup">
                        <xsd:annotation>
                            <xsd:documentation>Elements for a generic concrete LOG ENTRY.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="GeneralLogEntryGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for a general LOG ENTRY.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="logEntryValues" type="LogEntryValues_RelStructure">
                <xsd:annotation>
                    <xsd:documentation>Values picked up from the ENTITY as input for the LOGGABLE OBJECT.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="GeneralLogEntries_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A collection of generic LOG ENTRies.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LogEntry_" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A time-stamped record of an event or change of state.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LogEntriesInFrame_RelStructure">
        <xsd:annotation>
            <xsd:documentation>Type for containment in frame of GeneralLogEntries.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="netex:containmentAggregationStructure">
                <xsd:sequence>
                    <xsd:element ref="LogEntry_" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- ======================================================================= -->
    <xsd:complexType name="LogEntryValues_RelStructure">
        <xsd:annotation>
            <xsd:documentation>A collection of one or more logged VALUEs.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LogEntryValue" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Record of the values to be captured by a LOG ENTRY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="LogEntryValue" type="LogEntryValueStructure">
        <xsd:annotation>
            <xsd:documentation>A time-stamped record of an event or change of state - new values/state.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LogEntryValueStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a logged VALUE.</xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="LogEntryValueGroup">
            <xsd:annotation>
                <xsd:documentation>Elements for a logged VALUE.</xsd:documentation>
            </xsd:annotation>
        </xsd:group>
        <xsd:attribute name="id" type="LogEntryValueIdType">
            <xsd:annotation>
                <xsd:documentation>Identifier of logged VALUE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="LogEntryUnitaryValueStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a logged unique VALUE.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ValueName" type="xsd:normalizedString">
                <xsd:annotation>
                    <xsd:documentation>Name of VALUE captured by the LOG ENTRY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="xsd:anyType">
                <xsd:annotation>
                    <xsd:documentation>VALUE captured by the LOG ENTRY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="LogEntryValueGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for a logged VALUE.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="netex:VersionOfObjectRef" />
            <xsd:element name="UnitaryValue" type="LogEntryUnitaryValueStructure" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="LogEntryContextGroup">
        <xsd:annotation>
            <xsd:documentation>Context (related event, control action and consequences) for a logged VALUE.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AssociatedControlActionType" type="ControlActionTypeEnumeration">
                <xsd:annotation>
                    <xsd:documentation>Type of the CONTROL ACTION associated with the LOG ENTRY (cf Transmodel)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AssociatedConsequencetype" type="siri:ServiceConditionEnumeration">
                <xsd:annotation>
                    <xsd:documentation>Type of the Consequence associated with the LOG ENTRY (cf SIRI SX)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AssociatedEventType" type="EventTypeEnumeration">
                <xsd:annotation>
                    <xsd:documentation>Type of the triggering EVENT associated with the LOG ENTRY (cf Transmodel)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>