xsd/opra_framework/opra_genericFramework/opra_GeneralKpi_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.opra.org/opra" xmlns:netex="http://www.netex.org.uk/netex" xmlns:opra="http://www.opra.org/opra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" id="netex_OpRa_version" targetNamespace="http://www.opra.org/opra" version="1.0">
	<!-- NeTEX Imports-->
	<xsd:import schemaLocation="../../../NeTEx/xsd/gml/gml_extract_all_objects_v_3_2_1.xsd" namespace="http://www.opengis.net/gml/3.2"/>
    <xsd:import schemaLocation="../../opra_imports/opra_netex_imports.xsd" namespace="http://www.netex.org.uk/netex" />
	<!-- SIRI Imports-->
	<xsd:import schemaLocation="../../../SIRI/xsd/siri_model/siri_situationClassifiers.xsd" namespace="http://www.siri.org.uk/siri"/>
	<!-- OpRa Include-->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata>
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG10 - OpRa -  Editor CEN Opra Project Team</Creator>
				<Date>
					<Created>2024-11-29</Created>
				</Date>
				<Description>
					<p>OpRa - Operational Raw Data</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.opra.org/schemas/xsd/opra_framework/opra_genericFramework/opra_generalKpi_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
				</Rights>
				<Source>
					<ul>
						<li>Created for OpRa</li>
					</ul>
				</Source>
				<Status>Initial Version</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG10.</Project>
				</Subject>
				<Title>Opra Operation Raw Data Exchange</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>OpRa generic presentation of KEY PERFORMANCE INDICATORs</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="Kpi_" substitutionGroup="netex:DataManagedObject" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Dummy Supertype for a KEY PERFORMANCE INDICATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="netex:DataManagedObjectStructure">
					<xsd:group ref="KpiSpecificationGroup"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Kpis_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more KEY PERFORMANCE INDICATORs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Kpi_" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A key performance INDICATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="KpiSpecificationGroup">
		<xsd:annotation>
			<xsd:documentation>Context definition, indicator value and unit of measure for a key performance INDICATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KpiIdentifier" type="xsd:normalizedString">
				<xsd:annotation>
					<xsd:documentation>A recognizable identifier of the KPI within the context domain.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keyList" type="netex:KeyListStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A list of key/value pairs recognizable within the context domain.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KpiValue" type="xsd:anySimpleType"/>
			<xsd:element xmlns:q1="http://www.opengis.net/gml/3.2" name="KpiUnit" type="q1:MeasureType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
